* {
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: rgba(255, 255, 255, 1);
}

header h2 {
    padding: 0.5rem;
}

.saturate {
    filter: saturate(2.8);
}

.rainbow {

    /* Font options */
    font-family: cursive;
    text-shadow: 2px 2px 4px #ffffff;
    font-size: 40px;

    /* Chrome, Safari, Opera */
    -webkit-animation: rainbow 30s infinite;

    /* Internet Explorer */
    -ms-animation: rainbow 30s infinite;

    /* Standar Syntax */
    animation: rainbow 30s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow {
    0% {
        color: orange;
    }
    10% {
        color: purple;
    }
    20% {
        color: red;
    }
    30% {
        color: CadetBlue;
    }
    40% {
        color: yellow;
    }
    50% {
        color: coral;
    }
    60% {
        color: green;
    }
    70% {
        color: cyan;
    }
    80% {
        color: DeepPink;
    }
    90% {
        color: DodgerBlue;
    }
    100% {
        color: orange;
    }
}

/* Internet Explorer */
@-ms-keyframes rainbow {
    0% {
        color: orange;
    }
    10% {
        color: purple;
    }
    20% {
        color: red;
    }
    30% {
        color: CadetBlue;
    }
    40% {
        color: yellow;
    }
    50% {
        color: coral;
    }
    60% {
        color: green;
    }
    70% {
        color: cyan;
    }
    80% {
        color: DeepPink;
    }
    90% {
        color: DodgerBlue;
    }
    100% {
        color: orange;
    }
}

/* Standar Syntax */
@keyframes rainbow {
    0% {
        color: orange;
    }
    10% {
        color: purple;
    }
    20% {
        color: red;
    }
    30% {
        color: CadetBlue;
    }
    40% {
        color: yellow;
    }
    50% {
        color: coral;
    }
    60% {
        color: green;
    }
    70% {
        color: cyan;
    }
    80% {
        color: DeepPink;
    }
    90% {
        color: DodgerBlue;
    }
    100% {
        color: orange;
    }
}

.container {
    width: 60vw;
    margin: auto;
    /*background-color: rgba(52, 73, 94, 1.0);*/
    /*color: rgba(236, 240, 241, 1.0);*/
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

img {
    max-width: 100%;
}

h1 {
    text-align: center;
    font-weight: 200;
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 1rem 0;
}

nav {
    background-color: rgb(23, 99, 0); /* darkest blue */
    text-align: center;
    /*color: rgba(52, 152, 219, 1.0);!*light blue*!*/
    font-size: 1.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.7rem;
    color: rgba(69, 219, 52, 0.73); /*light blue*/
}

.mainPageParent {
    width: 100%;
}

.left {
    width: 49%;
    float: left;
}


.navbar-brand {
    display: inline;
    float: left;
}

.navbar-links {
    display: inline;
    float: right;
}

nav a {
    /*margin:0 0.5rem;*/
    padding: 0 0.5rem;
    font-size: 1.5rem;
    color: rgb(58, 219, 52);
    /*border: 1px solid rgba(52, 152, 219, 1.0);*/
    /*border-radius:0.5rem;*/
}

nav a:hover {
    /*color: rgba(44, 62, 80, 1.0); !* darkest blue *!*/
    /*background-color: rgba(52, 152, 219, 1.0); !*light blue*!*/
    border-bottom: 3px solid rgb(122, 219, 52);
}

a, a:visited {
    /*color:hotpink;*/
    text-decoration: none;
}

h1 a {
    color: white;
}


h1 a:hover {
    /*color: rgba(44, 62, 80, 1.0); !* darkest blue *!*/
    /*background-color: rgba(52, 152, 219, 1.0); !*light blue*!*/
    border-bottom: 3px solid rgb(255, 255, 255);
}

textarea {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.product-box img {
    /*max-width:200px;*/
}

.mainFeed {
    display: flex;
    word-wrap: break-word;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
    float: right;
}

.mainFeed-box {
    /*width: 13vw;*/
    width: 90%;
    float: right;
    /*display: table-cell;*/
    padding: 0.5rem;
    margin: 1vw;
    border: 1px solid rgba(189, 195, 199, 1.0);
    color: rgb(255, 255, 255);
    margin-bottom: 0.5rem;
}

.mainFeed-box-heading {
    padding: 0.5rem;
}

.product-box-image {
    height: 150px;
    overflow: hidden;
}

.button-group a {
    color: #ffffff;
}

.button-group a:hover {
    /*color: rgba(44, 62, 80, 1.0); !* darkest blue *!*/
    /*background-color: rgba(52, 152, 219, 1.0); !*light blue*!*/
    border-bottom: 3px solid rgb(255, 255, 255);
}

.mainFeed-box-info {
    padding: 0.5rem;
    float: right;

}

.mainFeed-box-text {
    padding: 0.3rem;

}

.mainFeed-box a {
    color: white;
}

.mainFeed-box a:hover {
    /*color: rgba(44, 62, 80, 1.0); !* darkest blue *!*/
    /*background-color: rgba(52, 152, 219, 1.0); !*light blue*!*/
    border-bottom: 3px solid rgb(255, 255, 255);
}

.mainFeed-box h3 {
    font-size: 1.2rem;
    text-align: center;
}

.mainFeed-box p {
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.myform {
    width: 80%;
    margin: auto;
    padding-top: 3rem;
}

.form-group {
    padding-top: 3rem;
}

.form-label {
    width: 30%;
    float: left;
    padding: 0.3rem;
}

.form-element {
    width: 70%;
    float: left;
}

.button-group {
    margin-top: 3rem;
    text-align: center;
}

.button-group input {
    padding: 0.3rem;
}

.form-group input {
    padding: 0.3rem;
    width: 100%;
}

table {
    border-collapse: collapse;
}

.headerButton a {
    background-color: rgb(23, 99, 0); /* Green */
    border: none;
    border-radius: 1rem;
    color: white;
    margin-top: 1rem;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
@media only screen and (max-width: 1086px) {
    .mainFeed {
        width: 100%;
        float: left;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }


}


@media only screen and (max-width: 400px) {
    .mainFeed-box {
        width: 100%;
    }
}